@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --secondary-color: #1E1E1E;
    --primary-color: #101113;
    --primary-text-color: #fff;
    --secondary-text-color: #A6A001;
}

* {
    font-family: "Truculenta" !important;
}

body {
    color: #fff;
}

.btn {
    position: relative;
    width: 130px;
    cursor: pointer;
}

.btn-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-circle {
    background-color: var(--secondary-text-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.btn:hover .btn-circle {
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
}

.btn-loading .btn-circle {
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 5px 5px 5px 5px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--secondary-text-color);
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.menu-opened {
    -webkit-animation: slideIn 0.5s forwards;
    -moz-animation: slideIn 0.5s forwards;
    animation: slideIn 0.5s forwards;
}

.menu-opened-out {
    animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}


.selected {
    background-color: #A6A001;
    transition: all 0.5s ease-in-out;
  }

  .project-img-container:hover {
    background: linear-gradient(to bottom, #1a1a1a, #000000);
    transition: all ease-in-out 0.3s !important;
    
  }

  .project-img {
    transition: background ease-in-out 0.3s !important;
  }
  
  .review-img {
    position: absolute;
    top: 60%;
    left: 75%;
  }
  
  .contact-btn {
    margin-left: 110px;
    margin-top: 20px;
  }

  #particles canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
  }